div{
    display:flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.tag-link.active {
    background-color: #c0c3c6; /* Blue background for active tag */
    color: white; /* White text for active tag */
  }
  .tag-link:hover {
    background-color: #e9ecef; /* Light grey background on hover */
    color: #e60a4c; /* Darker blue color on hover */
  }
  .tag-link {
    text-decoration: none;
    color: #d76666; /* Default color */
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
  }
  